body{
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: lightgrey;
    width: 500px;
    border: 10px solid red;
    padding: 50px;
    margin: 20px;
  }

  html, body {
    height: 50%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: orange;
}